<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Хуваарь</title>
    <link href="/vendor/bootstrap3/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/vendor/datepicker/css/datepicker.css" type="text/css" rel="stylesheet" />
    <link href="/css/calendar.css" type="text/css" rel="stylesheet" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>Хуваарь</h1>
      <div>
        <a class="btn btn-primary" href="/admin/create" role="button">Арга хэмжээ нэмэх</a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Арга хэмжээний нэр</th>
            <th>Эхлэх огноо</th>
            <th>Дуусах огноо</th>
            <th>Үйлдэл</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          <tr>
            <td> {{ loop.index }} </td>
            <td> {{ event.title }} </td>
            <td> {{ event.start_at|date("Y.m.d")}} </td>
            <td> {{ event.finish_at|date("Y.m.d")}} </td>
            <td>
              <a href="/admin/edit/{{ event.id }}" class="btn btn-warning btn-sm" role="button">Засах</a>
              <a href="/admin/delete/{{ event.id }}" class="btn btn-danger btn-sm" role="button">Устгах</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap3/js/bootstrap.min.js"></script>
    <script src="/vendor/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/js/admin.js"></script>
  </body>
</html>
